$color-primary: var(--color-primary, #ae0b05) !default;
$color-primary-contrasting: var(--color-primary-contrasting, #ffffff) !default;
$color-danger: var(--color-danger, #d73740) !default;
$border-radius: calc(var(--base, 8px) * var(--c-field-border-radius, 0.25));
$field-background-color: var(--c-field-background-color, var(--color-form-fields, #f5f5f5)) !default;
$color-border: var(--color-border, #0000001f) !default;