@use "./variables.scss" as *;
@use "./repeater.scss";
@use "./wysiwyg.scss";
@use "./step.scss";
@use "./progressbar.scss";
@import "@helsingborg-stad/openstreetmap/dist/main.css";

.mod-frontend-form form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.mod-frontend-form__openstreetmap-icon {
    background-color: $color-primary;
    color: $color-primary-contrasting;
    border-radius: 50%;
    font-size: 1.25rem;
    padding: .25rem;
}

.status-message {
    position: absolute;
    top: 0;
    left: 50%;
    background: #fff;
    padding: 16px 32px;
    transform: translate(-50%, 90px);
    border-radius: 8px;
    box-shadow: 0 0 35px #00000024;
}

.mod-frontend-form__form {
    position: relative;
}

.mod-frontend-form__notice {
    font-size: .75rem;
    color: $color-danger;
    margin-top: 4px;
}

.mod-frontend-form-working {
    transition: all 0.2s ease-in-out;
    position: absolute !important;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(5px);
    z-index: 2000;
    display: flex;
    flex-direction: column;
    gap: calc(var(--base, 8px) * 4);
    justify-content: center;
    align-items: center;
    padding: calc(var(--base, 8px) * 4);

    > * {
        max-width: 400px;
    }
}

.mod-frontend-form-working__progress-bar {
    .c-progressbar__value {
        transition: width 0.2s ease-in-out;
    }
}

.is-error .mod-frontend-form-working {
    color: #721c24;
}