@use "./variables.scss" as *;
@use "./repeater.scss";
@use "./wysiwyg.scss";
@use "./step.scss";
@use "./progressbar.scss";
@use "./map.scss";
@use "./working.scss";
@import "@helsingborg-stad/openstreetmap/dist/main.css";

.mod-frontend-form form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.mod-frontend-form__openstreetmap-icon {
    background-color: $color-primary;
    color: $color-primary-contrasting;
    border-radius: 50%;
    font-size: 1.25rem;
    padding: .25rem;
}

.status-message {
    position: absolute;
    top: 0;
    left: 50%;
    background: #fff;
    padding: 16px 32px;
    transform: translate(-50%, 90px);
    border-radius: 8px;
    box-shadow: 0 0 35px #00000024;
}

.mod-frontend-form__form {
    position: relative;
}

.mod-frontend-form__notice {
    font-size: .75rem;
    color: $color-danger;
    margin-top: 4px;
}

.mod-frontend-form__custom-label {
    color: var(--c-field-label-color, var(--color-darker, #565656));
    font-size: var(--c-field-label-font-size, .75rem);
    font-weight: var(--c-field-label-font-weight, 700);
    letter-spacing: .05rem;
    margin-bottom: calc(var(--base, 8px) / 2);
    text-transform: var(--c-field-label-text-transform, uppercase);
}

.mod-frontend-form__disclaimer mark {
    border: 1px solid rgba(0, 0, 0, 0.1);
    background: rgba(0, 0, 0, 0.05);
    padding: 4px 8px;
    border-radius: 2px;
    white-space: nowrap;
}

.mod-frontend-form__disclaimer {
    border: 1px solid rgba(0, 0, 0, 0.1);
    background: rgba(0, 0, 0, 0.03);
    padding: calc(var(--base, 8px) * 2);
    margin-left: auto;
}