@use "./variables.scss" as *;

.mod-frontend-form__openstreetmap {
    border: var(--c-field-border-width, var(--border-width-input, 1px)) solid var(--c-field-border-color, var(--color-border-input, var(--color-light, #a3a3a3)));
    border-radius: calc(var(--base, 8px) * var(--c-field-border-radius, .25));
    &.is-invalid .mod-frontend-form__openstreetmap {
        border: 1px solid $color-danger;
    }
}