.mod-frontend-form__field--checkbox__options,
.mod-frontend-form__field--radio__options {
  display: flex;
  flex-direction: column;
  margin-top: var(--base, 8px);
}

.mod-frontend-form__field--checkbox--horizontal,
.mod-frontend-form__field--radio--horizontal {
  .mod-frontend-form__field--checkbox__options,
  .mod-frontend-form__field--radio__options {
    flex-direction: row;
    flex-wrap: wrap;
    gap: calc(var(--base, 8px) * 2);

    .c-option__checkbox {
      width: auto;
    }
  }
} 