@use "./variables.scss" as *;

.mod-frontend-form__repeater-container {
    border-radius: $border-radius;
    position: relative;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    width: 100%;
    min-width: calc(var(--base, 8px) * 10);
    font-size: var(--c-field-font-size-md, .95rem);
    line-height: var(--c-field-font-size-md-line-height, calc(var(--base, 8px) * 2));
    border: var(--c-field-border-width, var(--border-width-input, 1px)) solid var(--c-field-border-color, var(--color-border-input, var(--color-light, #a3a3a3)));
    background: var(--c-field-background-color, var(--color-form-fields, #f5f5f5));
    border-radius: calc(var(--base, 8px) * var(--c-field-border-radius, .25));
}

.mod-frontend-form__repeater {
    transition: all .4s ease-in-out;
}

.mod-frontend-form__repeater-placeholder {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: calc(var(--base, 8px) * 3);

    .mod-frontend-form__repeater-no-rows {
        display: inline-block;
        padding: calc(var(--base, 8px) * 2) calc(var(--base, 8px) * 3); 
        color: var(--color-darker, #565656);
    }
}

.mod-frontend-form__repeater-min-max {
    font-size: .7rem;
    opacity: .5;
    display: flex;
    align-items: center;
}

.mod-frontend-form__repeater-header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 1rem;
    margin-bottom: .5rem;
}

.mod-frontend-form__repeater-add {
    justify-self: flex-end;
}

.mod-frontend-form__repeater-row + .mod-frontend-form__repeater-row {
    border-top: 1px solid $color-border;
}

.mod-frontend-form__repeater-row {
    max-height: 0px;
    transition: max-height 0.2s ease, opacity 0.2s ease;
    opacity: 0;
    background-color: var(--c-field-background-color);
    width: 100%;

    .c-field {
        --c-field-background-color: #fff;
    }

    &.no-remove {
        .mod-frontend-form__repeater-row-remove {
            visibility: hidden;
            display: none;
            pointer-events: none;
            opacity: 0;
        }
    }

    .mod-frontend-form__repeater-row-remove.c-button {
        background-color: rgba(0,0,0,.02);
        height: inherit;
        border-left: 1px solid $color-border;
        border-radius: 0;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        width: calc(var(--base, 8px) * 6.5);
    }

    &.animate-show {
        opacity: 1;
    }

    &.animate-remove {
        opacity: 0;
        overflow: hidden;
        pointer-events: none;
    }
}

.mod-frontend-form__repeater-row-fields {
    width: 100%;
    padding: 
    calc(var(--base, 8px) * 3.5) 
    calc(var(--base, 8px) * 9)
    calc(var(--base, 8px) * 3.5)
    calc(var(--base, 8px) * 2.5)
    ;
}
