@use "./variables.scss" as *;

.mod-frontend-form__repeater-container {
    gap: 1px;
    border-radius: $border-radius;
    background-color: #eee;
}

.mod-frontend-form__repeater {
    transition: all .4s ease-in-out;
}

.mod-frontend-form__repeater-min-max {
    font-size: .7rem;
    opacity: .5;
    display: flex;
    align-items: center;
}

.mod-frontend-form__repeater-header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 1rem;
    margin-bottom: .5rem;
}

.mod-frontend-form__repeater-add {
    justify-self: flex-end;
}

.mod-frontend-form__repeater-row {
    max-height: 0px;
    transition: max-height 0.2s ease, opacity 0.2s ease;
    opacity: 0;
    background-color: #f9f9f9;


    &.no-remove {
        .mod-frontend-form__repeater-row-remove {
            visibility: hidden;
            display: none;
            pointer-events: none;
            opacity: 0;
        }
    }

    .mod-frontend-form__repeater-row-remove.c-button {
        background-color: #f0f0f0;
        width: 2rem;
        height: 2rem;
        border-radius: 50%;
        right: -1rem;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
    }

    &.animate-show {
        opacity: 1;
    }

    &.animate-remove {
        opacity: 0;
        overflow: hidden;
        pointer-events: none;
    }
}

.mod-frontend-form__repeater-row-fields {
    padding: 1.5rem 1rem;
}
