@use "./variables.scss" as *;

.mod-frontend-form__steps {
    z-index: 5000;

    /* Step */
    .mod-frontend-form__step-container {
        opacity: 0;
        width: 100%;
        position: absolute;
        transform: scale(.7);
        transition: opacity .4s ease-in-out, transform .2s ease-in-out;
        max-height: 0;
        top: 2rem;
        pointer-events: none;
        z-index: -1;
        overflow: hidden;

        .mod-frontend-form__step-header-title {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
        }

        .mod-frontend-form__step-header-error-icon {
            display: none;
            color: $color-danger;
        }

        &.is-active {
            opacity: 1;
            position: relative;
            max-height: unset;
            top: 0;
            transform: scale(1);
            pointer-events: auto;
            z-index: 2;
            overflow: visible;
        }

        &.is-invalid {
            .mod-frontend-form__step-header-error-icon {
                display: block;
            }
        }

        &.animate-shake {
            animation: shake .4s ease-in-out forwards;
        }

        &.is-loading {
            pointer-events: none;

            &::before {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-color: rgba(255, 255, 255, 0.6);
                backdrop-filter: blur(10px);
                z-index: 3000;
            }


            &::after {
                content: '';
                position: absolute;
                top: 50%;
                left: 50%;
                width: 2.5rem;
                height: 2.5rem;
                border: 0.25rem solid rgba(0, 0, 0, 0.1);
                border-top-color: #333;
                border-radius: 50%;
                animation: spin 0.8s linear infinite;
                transform: translate(-50%, -50%);
                z-index: 3001;
            }
        }

        @keyframes shake {
            0%,100% { transform: translateX(0); }
            20%,60% { transform: translateX(-6px); }
            40%,80% { transform: translateX(6px); }
        }

        @keyframes spin {
            to {
                transform: translate(-50%, -50%) rotate(360deg);
            }
        }
    }
}


.mod-frontend-form__step-buttons {
    z-index: 4000;
    display: flex;
    justify-content: flex-end;
}

/* Loading */
.mod-frontend-form.is-success .c-paper,
.mod-frontend-form.is-loading .c-paper,
.mod-frontend-form.is-working .c-paper,
.mod-frontend-form.is-error .c-paper,
.mod-frontend-form.is-success .mod-frontend-form__step-buttons,
.mod-frontend-form.is-error .mod-frontend-form__step-buttons,
.mod-frontend-form.is-working .mod-frontend-form__step-buttons,
.mod-frontend-form.is-loading .mod-frontend-form__step-buttons {

    .c-typography,
    .c-button,
    .c-field__label,
    .c-c-field__inner {
        color: transparent !important;
        background-color: rgba(#0000, .05) !important;
        border-color: rgba(#0000, .05) !important;
        box-shadow: none !important;
        text-shadow: none !important;
        border-radius: 4px;
        user-select: none;
        pointer-events: none;
        position: relative;
        border-radius: 6px;

        * {
            visibility: hidden !important;
            pointer-events: none !important;
            user-select: none !important;
        }
    }

    .c-typography,
    .c-button,
    .c-field__label,
    .c-c-field__inner {
        animation: pulse 1.5s infinite ease-in-out;
    }
}