@use "./variables" as *;

.mod-frontend-form__wysiwyg {
    .mod-frontend-form__wysiwyg-actionbar {
        display: flex;
        flex-wrap: wrap;
        gap: 2px;
    }

    .mod-frontend-form__wysiwyg-button {
        display: flex;
        align-items: center;
        justify-content: center;
        aspect-ratio: 1 / 1;
        background-color: $color-primary-contrasting;
        color: $color-primary;
        cursor: pointer;
        transition: background-color .2s ease-in-out, color .2s ease-in-out, border .2s ease-in-out;
        border: 1px solid $color-primary;

        &.mod-frontend-form__wysiwyg-button--selected {
            color: $color-primary-contrasting;
            background-color: $color-primary;
            border-color: $color-primary;
        }
    }

    .mod-frontend-form__wysiwyg-content {
        background: var(--c-field-background-color, var(--color-form-fields, #f5f5f5));
        border: var(--c-field-border-width, var(--border-width-input, 1px)) solid var(--c-field-border-color, var(--color-border-input, var(--color-light, #a3a3a3)));
        font-size: var(--c-field-font-size-md, .95rem);
        min-width: calc(var(--base, 8px) * 10);
        position: relative;
        width: 100%;
        height: 20rem;
        margin-top: calc(var(--base, 8px) * 2);
        padding: calc(var(--base, 8px) * 2);
        overflow: auto;

        p {
            margin-top: unset;
        }
    }

    &.is-invalid {
        .mod-frontend-form__wysiwyg-content {
            border: 1px solid $color-danger;
        }
    }
}