@use "./variables" as *;

.mod-frontend-form__wysiwyg {
    .mod-frontend-form__wysiwyg-actionbar {
        display: flex;
        flex-wrap: wrap;
        gap: 2px;
    }

    .mod-frontend-form__wysiwyg-button {
        display: flex;
        align-items: center;
        justify-content: center;
        aspect-ratio: 1 / 1;
        color: $color-primary-contrasting;
        background-color: $color-primary;
        border: none;
        cursor: pointer;
        transition: background-color .2s ease-in-out, color .2s ease-in-out, border .2s ease-in-out;
        border: 2px solid transparent;

        &.mod-frontend-form__wysiwyg-button--selected {
            background-color: $color-primary-contrasting;
            color: $color-primary;
            border-color: $color-primary;
        }
    }

    .mod-frontend-form__wysiwyg-content {
        height: 25rem;
        background-color: $field-background-color;
        padding: 1.5rem;
        margin-top: .5rem;
        overflow: auto;
        border-radius: $border-radius;

        p {
            margin-top: unset;
        }
    }

    &.is-invalid {
        .mod-frontend-form__wysiwyg-content {
            border: 1px solid $color-danger;
        }
    }
}